name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  javascript-ci-checks:
    name: Automated Javascript CI checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
             ${{ runner.os }}-build-${{ env.cache-name }}-
             ${{ runner.os }}-build-
             ${{ runner.os }}-

      - name: Setup Node.js 18.16.0
        uses: actions/setup-node@v3
        with:
          node-version: 18.16.0

      - name: Install dependencies
        run: npm install --force
        working-directory: ./social-network-ui
      - name: Run build
        run: npm run build --prefix
        working-directory: ./social-network-ui